/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Design */
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
}
body{
    background-color: #141414;
    font-family: Oswald;
}
#card1{
    min-height: 200px;
    background: url('../img/card1.png') no-repeat center center;
    background-size: cover;
}
#card2{
    min-height: 200px;
    background: url('../img/card2.png') no-repeat center center;
    background-size: cover;
}
#card3{
    background-color: #1B264B;
}
#card3 .img{
    background: url('../img/card3.png') no-repeat center bottom;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 230px;
}
#logo{
    width: 90px;
}
#big_text{
    font-family: Anton;
    font-size: 100px;
    letter-spacing: 0.1em;
    line-height: 100px;
}
.card-title{
    font-size: 25px;
}
.card-subtitle{
    font-size: 13px;
    font-weight: 200;
}
/* Helpers */
.mt-30px{
    margin-top: 30px !important;
}
.mb-30px{
    margin-bottom: 30px !important;
}
.font-size-50{
    font-size: 50px;
}
.bg-nik-blue{
    background-color: #98B5C3
}
.bg-nik-red{
    background-color: #DB0100
}
.text-nik-red{
    color: #DB0100 !important
}
.border-nik-red{
    border-color: #DB0100 !important
}
.border-2{
    border: 2px solid #dee2e6
}
.rounded-10{
    border-radius: 10px;
}
.border-dashed{
    border: 1px dashed #dee2e6 !important;
}
p.md-translate270{
    -webkit-writing-mode: sideways-lr;
        -ms-writing-mode: sideways-lr;
            writing-mode: sideways-lr;
}
.d-ruby{
    display: block ruby;
}
.left-0{
    left:0;
}
.top-0{
    top:0;
}
.right-0{
    right:0;
}
.bottom-0{
    bottom:0;
}
@media(max-width: 768px){
    p.md-translate270{
        -webkit-writing-mode: inherit;
            -ms-writing-mode: inherit;
                writing-mode: inherit;
    }
    #big_text{
        font-size: 50px;
        letter-spacing: 0;
        line-height: 73px;
    }
    #logo{
        width: 50px;
    }
}